@model OrderViewModel


<table class="table table-hover">
    <tr>
        <td class="col-5">
            <strong>Номер заказа</strong>
        </td>
        <td class="col">@Model.Id</td>
    </tr>

    <tr>
        <td class="col-5">
            <strong>Город отправителя</strong>
        </td>
        <td class="col">@Model.SenderCity</td>
    </tr>

    <tr>
        <td class="col-5">
            <strong>Адрес отправителя</strong>
        </td>
        <td class="col">@Model.SenderAddress</td>
    </tr>

    <tr>
        <td class="col-5">
            <strong>Город получателя</strong>
        </td>
        <td class="col">@Model.RecipientCity</td>
    </tr>

    <tr>
        <td class="col-5">
            <strong>Адрес получателя</strong>
        </td>
        <td class="col">@Model.RecipientAddress</td>
    </tr>

    <tr>
        <td class="col-5">
            <strong>Вес, кг</strong>
        </td>
        <td class="col">@Model.Weight</td>
    </tr>

    <tr>
        <td class="col-5">
            <strong>Дата забора</strong>
        </td>
        <td class="col">@Model.ExpirationDate.ToString("d")</td>
    </tr>
</table>