@model IEnumerable<ShortOrderInfoViewModel>
@{
    ViewData["Title"] = $"Заказы";
}

<h2>Список заказов</h2>

<div class="row">
    <div class="column">
        <table class="table">
            <thead>
                <tr>
                    <th>Номер</th>
                    <th>Город отправителя</th>
                    <th>Город получателя</th>
                    <th>Вес, кг</th>
                    <th>Дата забора</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {
                    <tr class="order-row" data-id="@order.Id">
                        <td>@order.Id</td>
                        <td>@order.SenderCity</td>
                        <td>@order.RecipientCity</td>
                        <td>@order.Weight</td>
                        <td>@order.ExpirationDate.ToString("d")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>